* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1rem;
}
body {
  overflow: hidden;
  /* background: rgba(0,0,0,0.1); */
}
#container {
  display: grid;
  grid-template-columns: 10fr 10fr;
}
nav {
  display: flex;
  gap: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 40;
  padding: 0.5rem 5rem;
  background: rgba(0, 0, 0, 1);
}
nav a {
  text-decoration: none;
  color: white;
}
nav .active {
  background: rgba(0, 0, 0, 0.5);
}
.btn_crime {
  border: none;
  background: none;
}

#right {
  overflow-y: scroll;
}

#map {
  width: 100%;
  height: 100vh;
}
