<template mix-target="#right">
  <div id="crime_info" class="crime_info">
    <div>{{crime["description"]}}</div>
    <div>Severity: {{crime["severity"]}}</div>
    <!-- <img src="/mugshots/1.png" /> -->
    <!-- <div>
      <button mix-get="/friends/1">Show friends</button>
      <button>Show family</button>
    </div>
    <section id="friends_box"></section> -->
  </div>
</template>
